<app-login></app-login>

<section *ngIf="accessToken" class="admin">
  <div>
    <h3>Add post:</h3>
    <div>
      <label>Title</label>
      <input [(ngModel)]="title" />
    </div>

    <div>
      <label>Category:</label>
      <select [(ngModel)]="categoryId">
        <option
          *ngFor="let category of categories"
          value="{{ category._id }}"
          >{{ category.title }}</option
        >
      </select>
    </div>

    <div>
      <label>Short content</label>
      <textarea [(ngModel)]="shortContent"></textarea>
    </div>

    <div>
      <label>Long content</label>
      <textarea [(ngModel)]="longContent"></textarea>
    </div>

    <button (click)="handleSave()">Save</button>
  </div>

  <hr />

  <div>
    <h3>The list of available posts (click on post to delete):</h3>
    <ul>
      <li *ngFor="let post of posts" (click)="handleDelete(post._id)">
        {{ post.title }}
      </li>
    </ul>
  </div>
</section>
