h1 {
  border: 3px solid #000;
  display: inline-block;
  padding: 0px 10px;

  &:hover {
    cursor: pointer;
  }

  ::ng-deep p {
    margin: 5px 0;
  }
}

.main {
  padding: 30px;
  width: 80%;
  margin: auto;
}

nav {
  position: fixed;
  top: 20px;
  right: 20px;
}

footer {
  border-top: 3px solid #000;
  text-align: right;
  margin-top: 40px;
  padding: 10px 0;
}
